<div class="content-wrapper bg-white">
  <section class="content">
    <div class=" card-body" *ngIf="instinfo!=null">



      <div class="  ">

        <p class=" txt-bold">修改密码</p>


        <div style="height: 50px;"></div>
        <div>


          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="oldpassword" class=" "
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请输入原密码">

          </div>

          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="password" class=" "
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请输入新密码">

          </div>

          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="password2" class=" "
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请再次输入新密码">


          </div>




          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" (click)="changePassword()">
                提交修改</button>
            </div>
            <!-- /.col -->
          </div>

        </div>


      </div>



<div style="height: 50px;"></div>
  
        <div class="  ">
          <pre style="white-space:pre-wrap;color: gray;">{{InstInfo.password}}</pre>
        </div>
  



    </div>
  </section>
</div>